@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*
	Bootstrap Overide

*/

/*  

	General. 

*/

html {
	background-color: #F8FBF8;
	margin:0;
	height: 100%;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	color: #212121;
}
.main {
	background-color: #F8FBF8;
}
.container, 
.container-fluid {
	background-color: #F8FBF8;
}

a {
	color:#0C7CC0; 
}

/*

    Header 

*/

header.main {
	background-color: #FFF;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,0.06);
	        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.06);
}
.brand img {
	padding: 15px 50px 25px 50px;
}



/*


	Utilitarios 


*/

.txt-grey {
	color: #999999;
}
a.txt-grey {
	color: #999999;
}
.bb {
	border-bottom: 1px solid #EEEEEE;
}

.bt {
	border-top: 1px solid #EEEEEE;
}

/*

    LOGIN

*/

body.login {
	background-image: url(../images/fondo-login.jpg);
	background-size: cover;
	margin:0;
	height: 100%;
}

body.login .container, 
body.login .container-fluid {
	background-color: transparent;
}

.logo-login img {
		padding-top: 60px;
		padding-bottom: 40px;
}





/*


    NAV MAIN 


 */

 .nav-link {
 	padding: 1.4em 1em;
 }

.nav-link.active {
	border-bottom: 6px solid #F8BF0C;
}


/*

	FORMS

*/

label {
	color: #666666;
	font-size: .9em;
}

.form-control::-webkit-input-placeholder { color: #999; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #999; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #999; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #999; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #999; }  /* Microsoft Edge */

.form-control:disabled,
input[disabled]
 {
	border: none;
	background-color: #FFF;
	font-weight: bold;
	color:#686868;
}

/*

	BUTTONS 

*/

.btn {
	text-transform: uppercase;
	border-radius: 2px;
	padding: 15px;
	font-size: .95em;
}
.btn-primary {
	background: #3498DB;
	border-color: #3498DB;
}

.btn-secondary {
	color: #666666;
}
.btn-primary.disabled, .btn-primary:disabled {
	opacity: .15;
}





/*

    TABLES 


*/

.table {
	font-size: .8em;
} 
.table th {
	border-top: none;
	border-bottom: 2px solid #ccc;
}

/*

	CARDS

*/
.card {
	border-color:#FFF176;
	background-color: rgba(255,255,255,.6);
}
.card-header {
	background-color: #FFF176;
}
.card-subheader {
	background-color: #F6F6F6;
	padding: 15px;
	color: #A0A0A0;
}

.card-menu {
	background: rgba(255,255,255,0.67);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	border-radius: 2px;
	border: 1px solid #FFF176;
	min-height: 250px;
	color: #B8B8B8;
}
.card-menu-mensaje {
    background: rgba(255,255,255,0.67);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
    border: 1px solid #FFF176;
    min-height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 400px;
    margin-left: 400px;
    color: red;
}
.card-menu.disabled {
	opacity: .5;
	border-color: #FDF7BC;
}

.card-menu a.disabled  {
	color: #B8B8B8;
}
.card-outline-primary {
	border-color: #3498DB;
}
.card-header-primary {
	background-color: #3498DB;
	color: #FFF;
}





/*  


    MODAL FOOTER 


 */

 .modal-footer {
 	justify-content: flex-start;
 }
 
/*


	LIST GROUPS



*/

.slim .list-group-item {
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-color: #EEEEEE;
	font-size: .85em;
	padding: 0.45rem 1.25rem;
}

/*

    TOOLTIP

*/
.tooltip-inner {
	padding: 10px;
}



/*

    CALENDARIO 

*/

.calendario .card {
	border-radius: 0;
	border-color:#EEE;
	min-height: 150px;
}
.calendario-opciones {
	background-color: #F6F6F6;
}
.calendario-opciones .col {
}

.calendario .card-header {
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: .9em;
	padding: 9px 15px;
}
.calendario .card-block {
	padding: 0px 5px 5px 5px;
	font-size: .65em;
}

.calendario .dia-libre {
	background-color: #FAFAFA;
}
.calendario .dia-libre .card-header {
	color:#C9C9C9;
}
.calendario .dia.actual {
	display: inline-block;
	height: 27px;
	width: 27px;
	border-radius: 27px;
	background-color: #3498DB;
	color: #FFF;
	text-align: center;
	line-height: 25px;
}

/* Numeros */
.calendario .item.ts-disponible {
    display: block;
    background: #D5EB98;
    border: 1px solid #74A375;
    border-radius: 6px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
}

.calendario .item.nohay {
    display: block;
    background: #E96D6D;
    border: 1px solid #74A375;
    border-radius: 6px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
}

.calendario .item {
	margin-bottom: 5px;
}

.leyenda {

}

.bloque-leyenda {
	width: 21px;
	height: 21px;
	border-radius: 6px;
	margin-right: 6px;
	display: inline-block;
	border: 1px solid #BDBDBD;
	background-color: #EEEEEE;
	vertical-align: middle;
}
/* Colores leyenda */
.bloque-leyenda.nohay {background-color: #E96D6D; border-color: #970D0D;} 
.bloque-leyenda.grupo1 {background-color: #66BB6A; border-color: #2E7D31;} /* Verde */
.bloque-leyenda.grupo2 {background-color: #FB8C00; border-color: #E65100;} /* Naranja */
.bloque-leyenda.grupo3 {background-color: #2097F3; border-color: #1A76D1;} /* Azul */
.bloque-leyenda.grupo4 {background-color: #BCABA4; border-color: #8C6E63;} /* Marron */

/* Sub-niveles */
.bloque-leyenda.grupo1.nvl2 {background-color: #8DC54F; border-color: #558B2F;} /* Verde Nivel 2*/
.bloque-leyenda.grupo1.nvl3 {background-color: #AED581; border-color: #7BB342;} /* Verde Nivel 3*/
.bloque-leyenda.grupo1.nvl4 {background-color: #D5EB98; border-color: #98B35D;} /* Verde Nivel 4*/
.bloque-leyenda.grupo1.nvl5 {background-color: #E6EE9C; border-color: #B0B42C;} /* Verde Nivel 5*/

.bloque-leyenda.grupo2.nvl2 {background-color: #FF9F00; border-color: #FF6F00;} /* Narajna Nivel 2*/
.bloque-leyenda.grupo2.nvl3 {background-color: #FFC108; border-color: #FF9F00;} /* Narajna Nivel 3*/
.bloque-leyenda.grupo2.nvl4 {background-color: #FDD836; border-color: #FBC02D;} /* Narajna Nivel 4*/
.bloque-leyenda.grupo2.nvl5 {background-color: #FFF49D; border-color: #FFEB3B;} /* Narajna Nivel 5*/

.bloque-leyenda.grupo3.nvl2 {background-color: #2BB6F6; border-color: #039BE5;} /* Azul Nivel 2*/
.bloque-leyenda.grupo3.nvl3 {background-color: #4DD0E1; border-color: #00BCD4;} /* Azul Nivel 3*/
.bloque-leyenda.grupo3.nvl4 {background-color: #B1ECF2; border-color: #4DD0E1;} /* Azul Nivel 4*/
.bloque-leyenda.grupo3.nvl5 {background-color: #B4E5FC; border-color: #81D4FA;} /* Azul Nivel 5*/

.bloque-leyenda.grupo4.nvl2 {background-color: #BDBDBD; border-color: #9E9E9E;} /* Marron Nivel 2*/
.bloque-leyenda.grupo4.nvl3 {background-color: #D7CCC8; border-color: #BCABA4;} /* Marron Nivel 3*/
.bloque-leyenda.grupo4.nvl4 {background-color: #EFEBE9; border-color: #D7CCC8;} /* Marron Nivel 4*/
.bloque-leyenda.grupo4.nvl5 {background-color: #EEEEEE; border-color: #81D4FA;} /* Marron Nivel 5*/




/*

    FONT AWESOME 


*/

.fa-fix-sm {
	font-size: 0.477em;
}
